.chat-main
  .chat-main__header
    .chat-main__header__left-box
      .present-group<>
        グループ名
        .member-list<>
          Member : JUN
    .edit-btn<>
      = link_to "#", class: "edit" do
        Edit

  .chat-main__messages
    = render @messages 
  .chat-main__form
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :body, class: "input-box__text", placeholder: "type a message"
          .input-box__image
            = f.label :image, class: "input-box__image" do
              = icon('fas', 'image')
            = f.file_field :image, class: "input-box__file"
        =f.submit 'Send', class: "submit-btn", value: "Send"