.chat-side
  .chat-side__header
    .chat-side__header__box
      %p.chat-side-header__box__name<>
        = current_user.name
      %ul.chat-side__header__box__icon
        %li.edit-icon
        = link_to new_group_path, class: "cog" do
          %i.far.fa-edit
        %li.set-icon
        = link_to edit_user_path(current_user), class: "edit" do
          %i.fas.fa-cog
          
  .chat-side__groups  
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name<>
            = group.name
          .group__message
            = group.show_last_message

